.container2{ 
    padding: 10px;
   min-height: 100px;
    width: 100px;
    border: 2px solid black;
    /* display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px; */
    display: flex;
    flex-wrap: wrap;

}

/* 
.box1{
    background-color: rgb(60, 52, 66);
   
}
.box2{
    background-color: rgb(195, 198, 39);
}
.box3{
    background-color: rgb(33, 105, 154);
}
.box4{
    background-color: rgb(112, 20, 55);
}

.box5{
    background-color: rgb(217, 171, 107);
}

.box6{
    background-color: rgb(50, 194, 141);
    
} */

.container3{
 position: relative;

}

 .box-1 { background-color: red; }
.box-3 { background-color: green; }

.box-2 {
  position: absolute;
  /* top: 100px;
  left: 40px; */
  background: blue;
}